<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="row bg-white pt-5 ps-3">
            <h4 class="mb-4">TÌM KIẾM YÊU CẦU XUẤT/NHẬP KHO</h4>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center mb-5">
                    <label for="orderTitle" class="form-label ms-5" style="width: 35%;">
                        {{ 'Tiêu đề' | localize }}
                    </label>
                    <div class="input-group">
                        <input id="orderTitle" name="orderTitle" class="form-control"
                            placeholder="{{ 'Nhập tiêu đề' | localize }}" type="text" [(ngModel)]="orderTitle" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-5">
                    <label for="fromDate" class="form-label ms-5" style="width: 35%;">
                        {{ 'Ngày gửi duyệt từ' | localize }}
                    </label>
                    <div class="input-group">
                        <input id="fromDate" type="text" name="fromDate" class="form-control" bsDatepicker
                            datePickerLuxonModifier [(date)]="fromDate" [bsConfig]="{ adaptivePosition: true }"
                            placeholder="Thời gian từ" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-5">
                    <label for="status" class="form-label ms-5" style="width: 35%;">
                        {{ 'Trạng thái' | localize }}
                    </label>
                    <div class="input-group">
                        <select id="status" name="status" class="form-select" [(ngModel)]="status">
                            <option value="99">
                                Tất cả
                            </option>
                            <option value="0">Chờ duyệt</option>
                            <option value="5">Đã duyệt</option>
                            <option value="7">Đã huỷ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center mb-5">
                    <label for="orderType" class="form-label ms-5" style="width: 35%;">
                        {{ 'Loại yêu cầu' | localize }}
                    </label>
                    <div class="input-group">
                        <select id="orderType" name="orderType" class="form-select" [(ngModel)]="orderType">
                            <option [ngValue]="undefined">
                                Tất cả
                            </option>
                            <option value="1">Nhập kho</option>
                            <option value="2">Xuất kho</option>
                            <option value="3">Thu hồi về kho cha</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-5">
                    <label for="toDate" class="form-label ms-5" style="width: 35%;">
                        {{ 'Ngày gửi duyệt đến' | localize }}
                    </label>
                    <div class="input-group">
                        <input id="toDate" type="text" name="toDate" class="form-control" bsDatepicker
                            datePickerLuxonModifier [(date)]="toDate" [bsConfig]="{ adaptivePosition: true }"
                            placeholder="Thời gian đến" />
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-secondary btn-sm me-3" type="button" (click)="resetSearch()">CHỌN
                        LẠI</button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="getListOrder($event)">
                        TÌM KIẾM
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass" class="mt-5">
        <div class="row bg-white py-5 ps-3 column-gap-5">
            <div class="d-flex justify-content-between">
                <h4 class="mb-4">DANH SÁCH YÊU CẦU XUẤT NHẬP KHO</h4>
                <div class="d-flex align-items-center justify-content-end">
                    <button *ngIf="'Pages.Inventories.Orders.Create' | permission" class="btn btn-primary btn-sm"
                        type="button" routerLink="/app/main/inventory-import-export/create-inventory-import">TẠO YÊU CẦU
                        NHẬP
                        KHO</button>
                    <button *ngIf="'Pages.Inventories.Transfer.Create' | permission" class="btn btn-primary btn-sm ms-3"
                        type="button" routerLink="/app/main/inventory-import-export/create-inventory-export">TẠO YÊU CẦU
                        XUẤT
                        KHO</button>
                    <button *ngIf="'Pages.Inventories.Recall.Create' | permission" class="btn btn-primary btn-sm ms-3"
                        type="button" routerLink="/app/main/inventory-import-export/create-inventory-recall">THU HỒI VỀ
                        KHO
                        CHA</button>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <!--<Primeng-TurboTable-Start>-->
            <div class="col primeng-datatable-container bg-white" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" (onLazyLoad)="getListOrder($event)"
                    [paginator]="false" [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 160px">{{ 'HÀNH ĐỘNG' | localize }}</th>
                            <th>
                                {{ 'MÃ ĐƠN' | localize }}
                            </th>
                            <th>
                                {{ 'TIÊU ĐỀ' | localize }}
                            </th>
                            <th>
                                {{ 'LOẠI YÊU CẦU' | localize }}
                            </th>
                            <th>
                                {{ 'SỐ LƯỢNG DỰ KIẾN' | localize }}
                            </th>
                            <th>{{ 'TRẠNG THÁI' | localize }}</th>
                            <th>
                                {{ 'BƯỚC DUYỆT HIỆN TẠI' | localize }}
                            </th>
                            <th>{{ 'NGÀY GỬI YÊU CẦU' | localize }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td style="width: 130px">
                                <div class="btn-group" dropdown placement="bottom left" container="body">
                                    <button id="dropdownButton" type="button"
                                        class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                        aria-controls="dropdownMenu">
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                        {{ 'Hành động' | localize }}
                                    </button>
                                    <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu
                                        aria-labelledby="dropdownButton">
                                        <li role="menuitem">
                                            <a href="javascript:;" class="dropdown-item" [routerLink]="record.orderType == '1' 
                                            ? '/app/main/inventory-import-export/detail-inventory-import' 
                                            : record.orderType == '2' 
                                            ? '/app/main/inventory-import-export/detail-inventory-export' 
                                            : record.orderType == '3' 
                                            ? '/app/main/inventory-import-export/detail-inventory-recall' 
                                            : null" [queryParams]="{ id: record.id }">
                                                {{ 'Xem chi tiết' | localize }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.orderCode }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.orderTitle }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.orderType == "1" ? 'Nhập kho' : record.orderType == "2" ? 'Xuất kho' :
                                record.orderType == "3" ? 'Thu hồi về kho cha' : 'Bán hàng' }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.quantity }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                <span class="badge badge-inline"
                                    [class]="record.status == 5 ? 'badge-success' : 'badge-warning'">{{
                                    record.statusName }}</span>
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                <span class="badge badge-inline"
                                    [class]="record.status == 5 ? 'badge-success' : 'badge-warning'">{{
                                    record.statusCurrentName }}</span>
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.createdDate | luxonFormat: 'F' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data text-center mt-5" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{ 'NoData' | localize }}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator (onPageChange)="getListOrder($event)"
                        [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                        [totalRecords]="primengTableHelper.totalRecordsCount"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                        [showCurrentPageReport]="true" [currentPageReportTemplate]="
                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                        "></p-paginator>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>
    </div>
</div>