<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="bg-white py-5">
            <p-tabView>
                <p-tabPanel header="Thông tin xuất kho">
                    <div class="row py-5">
                        <h4>THÔNG TIN CHUNG</h4>
                        <div class="col-md-6 mb-3">
                            <label for="" class="form-label">Tiêu đề</label>
                            <input type="text" class="form-control" id="" value={{data.orderTitle}} disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="" class="form-label">Số lượng dự kiến</label>
                            <input type="text" class="form-control" id="" value={{data.quantity}} disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="" class="form-label">Kho thu hồi</label>
                            <input type="text" class="form-control" id="" value={{data.srcStockName}} disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="" class="form-label">Kho nhận thu hồi</label>
                            <input type="text" class="form-control" id="" value={{data.desStockName}} disabled>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="" class="form-label">Ghi chú</label>
                            <textarea class="form-control" id="" rows="2" disabled>{{data.description}}</textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row py-5">
                        <h4>THÔNG TIN CHỨNG TỪ</h4>
                        <div class="mt-3" *ngIf="!data.document">
                            <button class="btn btn-primary btn-sm" type="button" (click)="openModal(document)">
                                Tải lên thông tin chứng từ
                            </button>
                        </div>
                        <div class="mt-3">
                            <a [href]="data.document">{{convertedUrl}}</a>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 100px;"
                            *ngIf="data.status !== 1 && data.status !== 7">
                            <button *ngIf="'Pages.Inventories.Orders.Confirm' | permission" class="btn btn-success me-3"
                                type="button" (click)="openModal(approve)">
                                {{ data.status == 5 ? 'THU HỒI' : 'ĐỒNG Ý'}}
                            </button>
                            <button *ngIf="'Pages.Inventories.Orders.Confirm' | permission" class="btn btn-danger"
                                type="button" (click)="openModal(refuse)" [disabled]="data.status == 5"
                                [class]="data.status == 5 ? 'd-none' : null">TỪ CHỐI</button>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Danh sách SIM/SỐ">
                    <div class="d-flex justify-content-end gap-5 mb-3">
                        <input type=" text" class="form-control" placeholder="Nhập số" [(ngModel)]="mobile">
                        <input type=" text" class="form-control" placeholder="Nhập serial" [(ngModel)]="serial">
                        <button type="button" class="btn btn-primary btn-sm" [style]="{width: '200px', height: 'auto'}"
                            (click)="getListSimOrderDetail($event)">
                            TÌM KIẾM
                        </button>
                        <button *ngIf="'Pages.Inventories.Sims' | permission" type="button"
                            class="btn btn-success btn-sm" [style]="{width: '250px', height: 'auto'}"
                            (click)="exportToExcel()">XUẤT EXCEL</button>
                    </div>
                    <div class="border">
                        <p-table #dataTable2 sortMode="multiple" [value]="listSim"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        {{ 'SỐ THUÊ BAO' | localize }}
                                    </th>
                                    <th>
                                        {{ 'SỐ SERIAL' | localize }}
                                    </th>
                                    <th>
                                        {{ 'GIÁ BÁN' | localize }}
                                    </th>
                                    <th>
                                        {{ 'TRẠNG THÁI' | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.mobile }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.serial }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.salePrice }}
                                    </td>
                                    <td>
                                        <span *ngIf="record.status == 0" class="badge badge-secondary badge-inline">
                                            {{ 'Đang xử lý' | localize }}
                                        </span>
                                        <span *ngIf="record.status == 1" class="badge badge-success badge-inline">
                                            {{ 'Trong kho' | localize }}
                                        </span>
                                        <span *ngIf="record.status == 2" class="badge badge-danger badge-inline">
                                            {{ 'Số không hoạt động' | localize }}
                                        </span>
                                        <span *ngIf="record.status == 6" class="badge badge-danger badge-inline">
                                            {{ 'Đã xuất kho' | localize }}
                                        </span>
                                        <span *ngIf="record.status == 4" class="badge badge-danger badge-inline">
                                            {{ 'Số huỷ' | localize }}
                                        </span>
                                        <span *ngIf="record.status == 5" class="badge badge-success badge-inline">
                                            {{ 'Số đã bán' | localize }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'Date' | localize }}</span>
                                        {{ record.createdDate | luxonFormat: 'F' }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data text-center mt-5" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator (onPageChange)="getListSimOrderDetail($event)"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator2
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Lịch sử tác động">
                    <div class="row py-5">
                        <h4>LỊCH SỬ TÁC ĐỘNG</h4>
                        <p-table #dataTable sortMode="multiple" [value]="listAction"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        {{ 'SỐ THUÊ BAO' | localize }}
                                    </th>
                                    <th>
                                        {{ 'SỐ SERIAL' | localize }}
                                    </th>
                                    <th>
                                        {{ 'NỘI DUNG THAO TÁC' | localize }}
                                    </th>
                                    <th>
                                        {{ 'NGƯỜI THAO TÁC' | localize }}
                                    </th>
                                    <th>
                                        {{ 'THỜI GIAN' | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.mobile }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.serial }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.description }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ '' | localize }}</span>
                                        {{ record.userProcess }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'Date' | localize }}</span>
                                        {{ record.createdDate | luxonFormat: 'F' }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data text-center mt-5"
                            *ngIf="this.primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator (onPageChange)="getActionHistory($event)"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                [totalRecords]="this.primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: this.primengTableHelper.totalRecordsCount
                                    "></p-paginator>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <ng-template #approve>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Phê duyệt yêu cầu thu hồi</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">Bạn có chắc chắn muốn duyệt yêu cầu thu hồi?</p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="confirmOrder()">XÁC NHẬN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #refuse>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Từ chối yêu cầu thu hồi</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <label for="" class="form-label">
                    {{ 'Lý do từ chối' | localize }}
                    <span class="text-danger">(*)</span>
                </label>
                <div class="input-group">
                    <input id="" name="" class="form-control" placeholder="{{ 'Nhập lý do từ chối' | localize }}"
                        type="text" [(ngModel)]="description" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="refuseOrder()">TỪ CHỐI</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #document>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Tải lên thông tin chứng từ</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p-fileUpload customUpload="true" maxFileSize="10000000" auto="auto"
                    accept=".csv,.xls,.xlsx,.pdf,.png,.jpg" chooseLabel="Chọn tệp"
                    (onSelect)="onFileSelect($event)"></p-fileUpload>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="onSubmitUpload()">XÁC NHẬN</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>