<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass" class="pt-5">
        <div class="row bg-white pt-5 ps-3 column-gap-5">
            <div class="d-flex justify-content-between mb-5">
                <h4 class="mb-4">QUẢN LÝ QUẬN/HUYỆN</h4>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openModal(add)">THÊM MỚI</button>
                    <button class="btn btn-success btn-sm ms-3" type="button">XUẤT EXCEL</button>
                </div>
            </div>
            <div class="col-md-10 d-flex gap-3">
                <input type="text" class="form-control me-1" [(ngModel)]="filter" placeholder="Nhập tên/mã quận/huyện">
                <select [(ngModel)]="status" class="form-select me-1">
                    <option [ngValue]="null">Chọn trạng thái</option>
                    <option [ngValue]="undefined">Tất cả</option>
                    <option [ngValue]="0">Khoá</option>
                    <option [ngValue]="1">Hoạt động</option>
                </select>
                <select [(ngModel)]="cityName" class="form-select me-5">
                    <option [ngValue]="null">Chọn Tỉnh/Thành Phố</option>
                    <option [ngValue]="undefined">Tất cả</option>
                    <option [ngValue]="city.displayName" *ngFor="let city of cities">{{city.displayName}}</option>
                </select>
                <button type="button" class="btn btn-primary" style="width: 25%;" (click)="getDistricts($event)">TÌM
                    KIẾM</button>
            </div>
            <p-table class="pt-2 mb-5" #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" (onLazyLoad)="getDistricts($event)"
                [paginator]="false" [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 130px">{{ 'HÀNH ĐỘNG' | localize }}</th>
                        <th pSortableColumn="districtCode">
                            {{ 'MÃ' | localize }}
                            <p-sortIcon field="districtCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="districtName">
                            {{ 'QUẬN/HUYỆN' | localize }}
                            <p-sortIcon field="districtName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cityCityName">
                            {{ 'TỈNH/THÀNH PHỐ' | localize }}
                            <p-sortIcon field="cityCityName"></p-sortIcon>
                        </th>
                        <th>{{ 'TRẠNG THÁI' | localize }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td style="width: 130px">
                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                    dropdownToggle aria-controls="dropdownMenu">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                    {{ 'Hành động' | localize }}
                                </button>
                                <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu
                                    aria-labelledby="dropdownButton">
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="getViewDistrict(record.district.id, view)">
                                            {{ 'Xem chi tiết' | localize }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="getEditDistrict(record.district.id, edit)">
                                            {{ 'Chỉnh sửa' | localize }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="deleteDistrict(record.district.id)">
                                            {{ 'Xoá' | localize }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <span class="p-column-title">{{ '' | localize }}</span>
                            {{ record.district.districtCode }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ '' | localize }}</span>
                            {{ record.district.districtName }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ '' | localize }}</span>
                            {{ record.cityCityName }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Status' | localize }}</span>
                            <span *ngIf="record.district.status == 1">
                                {{ 'Hoạt động' | localize }}
                            </span>
                            <span *ngIf="record.district.status == 0">
                                {{ 'Khoá' | localize }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-no-data text-center" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ 'NoData' | localize }}
            </div>
            <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    [totalRecords]="primengTableHelper.totalRecordsCount" [showCurrentPageReport]="true"
                    (onPageChange)="getDistricts($event)"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [currentPageReportTemplate]="
                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                    "></p-paginator>
            </div>
        </div>
    </div>
    <ng-template #add>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm mới</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="" class="form-label">Tỉnh/Thành phố</label>
                    <div class="input-group">
                        <select [(ngModel)]="cityId" class="form-select" required #cityIdInput="ngModel">
                            <option [ngValue]="undefined">Chọn Tỉnh/Thành phố</option>
                            <option [ngValue]="city.id" *ngFor="let city of cities">
                                {{city.displayName}}
                            </option>
                        </select>
                    </div>
                    <validation-messages [formCtrl]="cityIdInput"></validation-messages>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mã</label>
                    <input type="text" class="form-control" placeholder="Nhập mã" [(ngModel)]="districtCode" required
                        maxlength="64" #districtCodeInput="ngModel">
                    <validation-messages [formCtrl]="districtCodeInput"></validation-messages>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên</label>
                    <input type="text" class="form-control" placeholder="Nhập tên" [(ngModel)]="districtName" required
                        maxlength="64" #districtNameInput="ngModel">
                    <validation-messages [formCtrl]="districtNameInput"></validation-messages>
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái</label>
                    <div class="input-group">
                        <select [(ngModel)]="status" class="form-select" required #statusInput="ngModel">
                            <option [ngValue]="null">Chọn trạng thái</option>
                            <option [ngValue]="0">Khoá</option>
                            <option [ngValue]="1">Hoạt động</option>
                        </select>
                    </div>
                    <validation-messages [formCtrl]="statusInput"></validation-messages>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createOrEditDistrict()">LƯU THÔNG
                        TIN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #edit>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="" class="form-label">Tỉnh/Thành phố</label>
                    <div class="input-group">
                        <select [(ngModel)]="cityId" class="form-select">
                            <option [ngValue]="city.id" *ngFor="let city of cities">
                                {{city.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mã</label>
                    <input type="text" class="form-control" placeholder="Nhập mã" [(ngModel)]="districtCode" required
                        maxlength="64" #districtCodeInput="ngModel">
                    <validation-messages [formCtrl]="districtCodeInput"></validation-messages>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên</label>
                    <input type="text" class="form-control" placeholder="Nhập tên" [(ngModel)]="districtName" required
                        maxlength="64" #districtNameInput="ngModel">
                    <validation-messages [formCtrl]="districtNameInput"></validation-messages>
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái</label>
                    <div class="input-group">
                        <select [(ngModel)]="status" class="form-select">
                            <option [ngValue]="0">Khoá</option>
                            <option [ngValue]="1">Hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createOrEditDistrict()">LƯU THÔNG
                        TIN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #view>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xem chi tiết</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center mb-3">
                    <label class="form-label" style="width: 40%;">Mã</label>
                    <input type="text" class="form-control" [value]="dataGetForView.district.districtCode" disabled>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="form-label" style="width: 40%;">Quận/Huyện</label>
                    <input type="text" class="form-control" [value]="dataGetForView.district.districtName" disabled>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="form-label" style="width: 40%;">Tỉnh/Thành phố</label>
                    <input type="text" class="form-control" [value]="dataGetForView.cityCityName" disabled>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="form-label" style="width: 40%;">Trạng thái</label>
                    <input type="text" class="form-control"
                        [value]="dataGetForView.district.status == 0 ? 'Khoá' : 'Hoạt động'" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">ĐÓNG</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>