<div appBsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form #tenantCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'CHI TIẾT SIM/SỐ' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>

                <div class="modal-body">
                    <div [class]="containerClass">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Mã kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="inventoryData.stockCode" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Tên kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="inventoryData.stockName" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Địa điểm kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="inventoryData.address" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5" *ngIf="productType == 1">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Số thuê bao' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.mobile" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Số serial' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.serial" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5" *ngIf="productType == 1">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Nhà mạng' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.telCo" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Ngày tạo kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.createdDate | luxonFormat: 'F'"
                                            disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5" *ngIf="productType == 'mobile'">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Thuộc tính' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.attribute" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Giá nhập' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.costPrice" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Giá bán' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="simData.salePrice" disabled />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Trạng thái' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control"
                                            [value]="simData.status == 0 ? 'Chưa bán' : 'Đang bán'" disabled />
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-12">
                                <h4 class="text-center mt-3 mb-5">LỊCH SỬ TÁC ĐỘNG</h4>
                                <p-table #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>
                                                {{ 'SỐ THUÊ BAO' | localize }}
                                                <!-- <p-sortIcon field="subscriptionEndDateUtc"></p-sortIcon> -->
                                            </th>
                                            <th>
                                                {{ 'SỐ SERIAL' | localize }}
                                                <!-- <p-sortIcon field="isActive"></p-sortIcon> -->
                                            </th>
                                            <th>
                                                {{ 'NỘI DUNG THAO TÁC' | localize }}
                                                <!-- <p-sortIcon field="creationTime"></p-sortIcon> -->
                                            </th>
                                            <th>
                                                {{ 'NGƯỜI THAO TÁC' | localize }}
                                                <!-- <p-sortIcon field="creationTime"></p-sortIcon> -->
                                            </th>
                                            <th>
                                                {{ 'THỜI GIAN' | localize }}
                                                <!-- <p-sortIcon field="creationTime"></p-sortIcon> -->
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td>
                                                <span class="p-column-title">{{ '' | localize }}</span>
                                                {{ record.phoneNumber }}
                                            </td>
                                            <td>
                                                <span class="p-column-title">{{ '' | localize }}</span>
                                                {{ record.serialNumber }}
                                            </td>
                                            <td>
                                                <span class="p-column-title">{{ '' | localize }}</span>
                                                {{ record.content }}
                                            </td>
                                            <td>
                                                <span class="p-column-title">{{ '' | localize }}</span>
                                                {{ record.operator }}
                                            </td>
                                            <td>
                                                <span class="p-column-title">{{ 'Date' | localize }}</span>
                                                {{ record.date }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data text-center mt-5"
                                    *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{ 'NoData' | localize }}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator (onPageChange)="getActionHistory($event)"
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm fw-bold" (click)="close()">
                        {{ 'HUỶ' | localize }}
                    </button>
                    <button class="btn btn-primary btn-sm fw-bold" (click)="getH()">
                        <span>{{ 'LỊCH SỬ THAO TÁC' | localize }}</span>
                    </button>
                    <button class="btn btn-primary btn-sm fw-bold">
                        <span>{{ 'CẬP NHẬT GIÁ' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>