<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="row bg-white py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4>THÔNG TIN CHUNG</h4>
                <button class="btn btn-success btn-sm" (click)="createRecovery()" *ngIf="!isLoading">GỬI YÊU
                    CẦU</button>
                <p-progressSpinner class="me-5" [style]="{width: '32px', height: '32px'}" strokeWidth="4"
                    fill="var(--surface-ground)" animationDuration=".8s" *ngIf="isLoading"></p-progressSpinner>
            </div>
            <div class="col-md-6 mb-3">
                <label for="title" class="form-label">Tiêu đề <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="title" placeholder="Nhập tiêu đề" [(ngModel)]="title">
            </div>
            <div class="col-md-6 mb-3">
                <label for="productType" class="form-label">Loại sản phẩm</label>
                <div class="input-group">
                    <select id="productType" name="productType" class="form-select" [(ngModel)]="productType"
                        (change)="onChangeProductType($event)">
                        <option [value]="ProductType.Mobile">Số</option>
                        <option [value]="ProductType.Serial">Serial</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="srcStockId" class="form-label">Kho thu hồi <span class="text-danger">(*)</span></label>
                <p-dropdown [style]="{width: '100%'}" [options]="listStock" [(ngModel)]="selectedStockFrom"
                    optionLabel="stockName" [filter]="true" filterBy="stockName" [showClear]="true"
                    placeholder="Chọn kho" (onChange)="onChangeStock($event)">
                    <ng-template pTemplate="selectedStockFrom">
                        <div class="flex align-items-center gap-2" *ngIf="selectedStockFrom">
                            <div>{{ selectedStockFrom.stockName }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-stock pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ stock.stockName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-md-6 mb-3">
                <label for="desStockId" class="form-label">Kho nhận thu hồi <span class="text-danger">(*)</span></label>
                <p-dropdown [style]="{width: '100%'}" [options]="listStock" [(ngModel)]="selectedStockTo"
                    optionLabel="stockName" [filter]="true" filterBy="stockName" [showClear]="true"
                    placeholder="Chọn kho">
                    <ng-template pTemplate="selectedStockTo">
                        <div class="flex align-items-center gap-2" *ngIf="selectedStockTo">
                            <div>{{ selectedStockTo.stockName }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-stock pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ stock.stockName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="col-md-6 mb-3">
                <label for="" class="form-label">Cách thức thu hồi<span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <select id="" name="" class="form-select" (change)="onRangeRuleChange($event)">
                        <option [ngValue]="true">Thu hồi theo dải</option>
                        <option [ngValue]="false">Thu hồi theo tuỳ chọn</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="objectType" class="form-label">Thu hồi theo</label>
                <div class="input-group">
                    <select id="objectType" name="objectType" class="form-select" [(ngModel)]="objectType">
                        <option [value]="ObjectType.All">Tất cả</option>
                        <option [value]="ObjectType.List">Danh sách chọn</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="fromRange" class="form-label">Dải số/serial từ<span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="fromRange" name="fromRange"
                    [(ngModel)]="tempOrderItems.fromRange" (input)="calculateQuantity($event)" pattern="^[0-9]*$"
                    maxlength="25" (keypress)="onKeyPress($event)" [disabled]="!isRangeRule">
            </div>
            <div class="col-md-4 mb-3">
                <label for="toRange" class="form-label">Dải số/serial đến<span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="toRange" name="toRange" [(ngModel)]="tempOrderItems.toRange"
                    (input)="calculateQuantity($event)" pattern="^[0-9]*$" maxlength="25"
                    (keypress)="onKeyPress($event)" [disabled]="!isRangeRule">
            </div>
            <div class="col-md-4 mb-3">
                <label for="quantity" class="form-label">Số lượng<span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="quantity" name="quantity"
                    [(ngModel)]="tempOrderItems.quantity" [disabled]="!isRangeRule">
            </div>
            <div class="col-12 mb-5">
                <label for="" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="" rows="2" placeholder="Nhập nội dung ghi chú"
                    [(ngModel)]="description"></textarea>
            </div>
            <div class="col-12">
                <h4>THÔNG TIN CHỨNG TỪ</h4>
                <p-fileUpload customUpload="true" maxFileSize="10000000" auto="auto"
                    accept=".csv,.xls,.xlsx,.pdf,.png,.jpg" chooseLabel="Tải file chứng từ"
                    (onSelect)="onFileSelect($event)"></p-fileUpload>
            </div>
        </div>
    </div>
    <div [class]="isRangeRule ? 'd-none' : null" class="container-fluid mt-5">
        <div class="row bg-white py-5">
            <h4>BỘ LỌC TÌM KIẾM</h4>
            <div class="col-md-4 mb-5">
                <label for="" class="form-label">Số/Serial</label>
                <input type="text" class="form-control" id="" placeholder="Nhập số/serial" [(ngModel)]="product">
            </div>
            <div class="col-md-4 mb-5">
                <label for="" class="form-label">Dải số/serial từ</label>
                <input type="text" class="form-control" id="" placeholder="Nhập dải số/serial" [(ngModel)]="fromRange">
            </div>
            <div class="col-md-4 mb-5">
                <label for="" class="form-label">Dải số/serial đến</label>
                <input type="text" class="form-control" id="" placeholder="Nhập dải số/serial" [(ngModel)]="toRange">
            </div>
            <div class="col-md-4">
                <label for="attribute" class="form-label" style="width: 35%;">
                    {{ 'Hạng số' | localize }}
                </label>
                <div class="input-group">
                    <select id="attribute" name="attribute" class="form-select" [(ngModel)]="attribute">
                        <option [ngValue]="undefined">
                            Tất cả
                        </option>
                        <option [ngValue]="pdAtt.attributeType" *ngFor="let pdAtt of productAttribute">
                            {{pdAtt.attributeName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="simType" class="form-label" style="width: 35%;">
                    {{ 'Loại số' | localize }}
                </label>
                <div class="input-group">
                    <select id="simType" name="simType" class="form-select" [(ngModel)]="simType">
                        <option [ngValue]="undefined">
                            Tất cả
                        </option>
                        <option [ngValue]="simType.simType" *ngFor="let simType of simTypes">
                            {{simType.simName}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <label for="" class="form-label">Tìm kiếm theo file excel</label>
                <input type="file" class="form-control" id="">
            </div> -->
            <div>
                <button class="btn btn-primary btn-sm mt-5" type="button" (click)="getListSimsTransfers($event)">TÌM
                    KIẾM</button>
            </div>
            <div class="d-flex justify-content-between gap-5 mt-5">
                <div class="table1 border">
                    <p-table #dataTable [value]="listSimSrcStock" [(selection)]="selectedRecordsTo"
                        [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="false" [lazy]="true"
                        [tableStyle]="{'min-width': '50rem'}" class="table-custom"
                        (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)">
                        <ng-template pTemplate="caption">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Kết quả tìm kiếm</h4>
                                <span class="p-input-icon-left">
                                    <input class="form-control form-control-sm" pInputText type="text"
                                        (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Search..." />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem"><p-tableHeaderCheckbox [disabled]="isRangeRule" /></th>
                                <th>{{ 'SĐT/SERIAL' | localize }}</th>
                                <th>{{ 'HẠNG SỐ' | localize }}</th>
                                <th>{{ 'ĐỊNH GIÁ' | localize }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="record"
                                        [disabled]="isRecordInTable2(record) || isRangeRule" />
                                </td>
                                <td>{{productType == 1 ? record.mobile : record.serial}}</td>
                                <td>{{record.attribute}}</td>
                                <td>{{record.salePrice}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data text-center" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ 'NoData' | localize }}
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator (onPageChange)="getListSimsTransfers($event)"
                            [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                            "></p-paginator>
                    </div>
                </div>
                <div class="action d-flex flex-column justify-content-start align-items-center">
                    <button class="btn btn-primary btn-sm" (click)="moveSelectedRecords()"
                        [disabled]="selectedRecordsFrom.length > 0 || selectedRecordsTo.length == 0">THÊM</button>
                    <button class="btn btn-danger btn-sm mt-3 w-100" (click)="moveBackSelectedRecords()"
                        [disabled]="selectedRecordsTo.length > 0 || selectedRecordsFrom.length == 0">BỎ</button>
                </div>
                <div class="table2 border">
                    <p-table #dataTable2 [value]="currentDataFrom" [(selection)]="selectedRecordsFrom"
                        [rows]="rowsPerPage" [paginator]="true" [lazy]="true" [tableStyle]="{'min-width': '50rem'}"
                        class="table-custom">
                        <ng-template pTemplate="caption">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Danh sách đã chọn</h4>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem"><p-tableHeaderCheckbox
                                        [disabled]="selectedRecordsTo.length > 0" /></th>
                                <th>{{ 'SĐT/SERIAL' | localize }}</th>
                                <th>{{ 'HẠNG SỐ' | localize }}</th>
                                <th>{{ 'ĐỊNH GIÁ' | localize }}</th>
                                <!-- <th>{{ 'NGÀY TẠO' | localize }}</th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="record" [disabled]="selectedRecordsTo.length > 0" />
                                </td>
                                <td>{{productType == 1 ? record.mobile : record.serial}}</td>
                                <td>{{record.attribute}}</td>
                                <td>{{record.salePrice}}</td>
                                <!-- <td>{{record.createdDate | luxonFormat: 'F' }}</td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data text-center" *ngIf="rangeItems.length == 0">
                        {{ 'NoData' | localize }}
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator [rows]="rowsPerPage" #paginator2 [totalRecords]="rangeItems.length"
                            [showCurrentPageReport]="true" (onPageChange)="onPageFrom($event)"
                            [currentPageReportTemplate]="
                                'TotalRecordsCount' | localize: rangeItems.length
                            "></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>