<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="row bg-white pt-5 ps-3">
            <h4 class="mb-4">BỘ LỌC TÌM KIẾM</h4>
            <div class="col-md-4 mb-3">
                <input id="fromDate" type="text" name="fromDate" class="form-control" bsDatepicker
                    datePickerLuxonModifier [(date)]="fromDate" [bsConfig]="{ adaptivePosition: true }"
                    placeholder="Thời gian" />
            </div>
            <div class="col-md-4 mb-3">
                <p-dropdown [style]="{width: '100%'}" [options]="stockList" [(ngModel)]="selectedStock"
                    optionLabel="stockName" [filter]="true" filterBy="stockName" [showClear]="true"
                    placeholder="Chọn kho">
                    <ng-template pTemplate="selectedStock">
                        <div class="flex align-items-center gap-2" *ngIf="selectedStock">
                            <div>{{ selectedStock.stockName }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-stock pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ stock.stockName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-md-4 mb-3">
                <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="statusOption"
                    [(ngModel)]="status" optionLabel="label" optionValue="value" placeholder="Trạng thái" class="w-100">
                </p-dropdown>
            </div>
            <div class="col-12 mt-3 mb-5">
                <div class="d-flex align-items-center justify-content-start">
                    <button class="btn btn-secondary btn-sm me-3" type="button" (click)="resetFilter()">ĐẶT LẠI</button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="getListApprovalFlow($event)">TÌM
                        KIẾM</button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass" class="mt-5">
        <div class="row bg-white py-5 ps-3 column-gap-5">
            <div class="d-flex justify-content-between">
                <h4 class="mb-4">DANH SÁCH CẤU HÌNH</h4>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary btn-sm ms-3" type="button" (click)="openModal(addFlow)">
                        THÊM MỚI CẤU HÌNH
                    </button>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col primeng-datatable-container bg-white" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable sortMode="multiple" (onLazyLoad)="getListApprovalFlow($event)"
                    [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                    [paginator]="false" [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 130px">{{ 'HÀNH ĐỘNG' | localize }}</th>
                            <th>
                                {{ 'CẤP KHO' | localize }}
                            </th>
                            <th>
                                {{ 'TÊN KHO' | localize }}
                            </th>
                            <th>
                                {{ 'SẢN PHẨM' | localize }}
                            </th>
                            <th>
                                {{ 'SỐ CẤP DUYỆT' | localize }}
                            </th>
                            <th>
                                {{ 'TRẠNG THÁI' | localize }}
                            </th>
                            <th>
                                {{ 'NGÀY TẠO' | localize }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td style="width: 130px">
                                <div class="btn-group" dropdown placement="bottom left" container="body">
                                    <button id="dropdownButton" type="button"
                                        class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                        aria-controls="dropdownMenu">
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                        {{ 'Hành động' | localize }}
                                    </button>
                                    <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu
                                        aria-labelledby="dropdownButton">
                                        <li>
                                            <a href="javascript:;" class="dropdown-item"
                                                (click)="openApprovalView(record.id, view)">
                                                {{ 'Xem chi tiết' | localize }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="dropdown-item"
                                                (click)="openApprovalView(record.id, addFlow, 'edit')">
                                                {{ 'Chỉnh sửa' | localize }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.stockLevel }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.stockName == null ? 'Tất cả' : record.stockName }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.productType == 1 ? 'SỐ' : record.productType == 2 ? 'SIM' : 'SIM, SỐ' }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ '' | localize }}</span>
                                {{ record.numberLevel }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ 'Status' | localize }}</span>
                                <span *ngIf="record.status == 1" class="badge badge-success badge-inline">
                                    {{ 'Hoạt động' | localize }}
                                </span>
                                <span *ngIf="record.status == 2" class="badge badge-secondary badge-inline">
                                    {{ 'Khoá' | localize }}
                                </span>
                            </td>
                            <td>
                                <span class="p-column-title">{{ 'Date' | localize }}</span>
                                {{ record.createdDate | luxonFormat: 'F' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data text-center mt-5" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{ 'NoData' | localize }}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator (onPageChange)="getListApprovalFlow($event)"
                        [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                        [totalRecords]="primengTableHelper.totalRecordsCount"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                        [showCurrentPageReport]="true" [currentPageReportTemplate]="
                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                        "></p-paginator>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>
    </div>
    <ng-template #addFlow>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ isEdit ? 'Chỉnh sửa cấu hình' : 'Thêm mới cấu hình'}}</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="stockLevels"
                            [(ngModel)]="approvalFlowData.stockLevel" optionLabel="label" optionValue="value"
                            placeholder="Chọn cấp độ kho" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-4 mb-5">
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="productTypes"
                            [(ngModel)]="approvalFlowData.productType" optionLabel="label" optionValue="value"
                            placeholder="Chọn loại sản phẩm" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-4 mb-5">
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="stockList"
                            [(ngModel)]="approvalFlowData.stockId" optionLabel="stockName" optionValue="id"
                            placeholder="Chọn kho" class="w-100">
                        </p-dropdown>
                        <i>* Trường hợp xét riêng luồng duyệt cho kho</i>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="border p-3">
                            <div class="d-flex align-items-center justify-content-between column-gap-4 mb-4"
                                *ngFor="let item of tempApprovalItems; let i = index">
                                <span>{{i + 1}}</span>
                                <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="departmentList"
                                    [(ngModel)]="item.officeCode" optionLabel="displayName" optionValue="code"
                                    placeholder="Chọn phòng ban" (onChange)="onDepartmentChange($event, item)"
                                    class="w-100">
                                </p-dropdown>
                                <p-dropdown [style]="{'text-align': 'left', width: '100%'}"
                                    [options]="item.userList || []" [(ngModel)]="item.userName" optionLabel="userName"
                                    optionValue="userName" placeholder="Tài khoản duyệt" class="w-100">
                                </p-dropdown>
                                <input type="hidden" class="form-control" [(ngModel)]="item.officeName">
                                <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="importantlist"
                                    [(ngModel)]="item.order" optionLabel="label" optionValue="value"
                                    placeholder="Chọn độ ưu tiên" class="w-100">
                                </p-dropdown>
                                <button class="btn btn-danger btn-sm" (click)="removeRow(i)">Xóa</button>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success btn-sm mt-5" type="button" (click)="addUserRow()">Thêm
                                    người duyệt</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="statusOption"
                            [(ngModel)]="approvalFlowData.status" optionLabel="label" optionValue="value"
                            placeholder="Trạng thái" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-6 mb-5">
                        <input type="text" class="form-control" placeholder="Nhập ghi chú"
                            [(ngModel)]="approvalFlowData.description" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createOrEditApprovalFlow()">LƯU THÔNG
                        TIN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #view>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xem chi tiết thiết lập</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <label class="form-label">
                            {{ 'Cấp độ kho' | localize }}
                        </label>
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="stockLevels"
                            optionLabel="label" [optionValue]="approvalFlowData.numberLevel" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label class="form-label">
                            {{ 'Loại sản phẩm' | localize }}
                        </label>
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="productTypes"
                            optionLabel="label" [optionValue]="approvalFlowData.productType" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-4 mb-5" *ngIf="approvalFlowData.stockId">
                        <label class="form-label">
                            {{ 'Kho' | localize }}
                        </label>
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="stockList"
                            optionLabel="stockName" [optionValue]="approvalFlowData.stockId" class="w-100">
                        </p-dropdown>
                        <i>* Trường hợp xét riêng luồng duyệt cho kho</i>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="border p-3">
                            <div class="d-flex align-items-center justify-content-between column-gap-4 mb-4"
                                *ngFor="let item of approvalFlowData.items; let i = index">
                                <div class="w-100">
                                    <label for="value" class="form-label">
                                        {{ 'Phòng ban' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="item.officeName" />
                                    </div>
                                </div>
                                <div class="w-100">
                                    <label for="value" class="form-label">
                                        {{ 'Tài khoản duyệt' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="item.userName" />
                                    </div>
                                </div>
                                <div class="w-100">
                                    <label for="value" class="form-label">
                                        {{ 'Độ ưu tiên' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [value]="item.order" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <label class="form-label">
                            {{ 'Trạng thái' | localize }}
                        </label>
                        <p-dropdown [style]="{'text-align': 'left', width: '100%'}" [options]="statusOption"
                            optionLabel="label" [optionValue]="approvalFlowData.status" class="w-100">
                        </p-dropdown>
                    </div>
                    <div class="col-md-6 mb-5">
                        <label class="form-label">
                            {{ 'Ghi chú' | localize }}
                        </label>
                        <input type="text" class="form-control" placeholder="Nhập ghi chú"
                            [value]="approvalFlowData.description" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">ĐÓNG</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>