<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="row bg-white py-5">
            <h4>THÔNG TIN CHUNG</h4>
            <div class="mb-3">
                <label for="" class="form-label">Tiêu đề</label>
                <input type="text" class="form-control" id="" value={{orderData.orderTitle}} disabled>
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Kho nguồn</label>
                <input type="text" class="form-control" id="" value={{orderData.srcStockName}} disabled>
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Kho chuyển/xuất đến</label>
                <input type="text" class="form-control" id="" value={{orderData.desStockName}} disabled>
            </div>
            <div class="mb-3" *ngIf="orderData.contentReject">
                <label for="" class="form-label">Lý do từ chối</label>
                <input type="text" class="form-control" id="" value={{orderData.contentReject}} disabled>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="" rows="2" disabled>{{orderData.description}}</textarea>
            </div>
            <hr>
            <div class="section py-5">
                <h4>DANH SÁCH SỐ THUÊ BAO</h4>
                <div class="primeng-datatable-container bg-white" [busyIf]="primengTableHelper.isLoading">
                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getListSimOrderDetail($event)"
                        [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                        [paginator]="false" [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ 'STT' | localize }}</th>
                                <th>{{ 'SỐ ĐIỆN THOẠI' | localize }}</th>
                                <th>{{ 'NHÀ MẠNG' | localize }}</th>
                                <th>{{ 'HẠNG SỐ' | localize }} </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{record.mobile}}</td>
                                <td>{{record.telCo}}</td>
                                <td>{{record.attribute}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data text-center mt-5" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ 'NoData' | localize }}
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator (onPageChange)="getListSimOrderDetail($event)"
                            [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                            "></p-paginator>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center py-5">
                <h4>THÔNG TIN CHỨNG TỪ</h4>
                <div class="mt-3" *ngIf="!orderData.document">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openModal(document)">
                        Tải lên thông tin chứng từ
                    </button>
                </div>
                <div class="mt-3">
                    <a [href]="orderData.document">{{convertedUrl}}</a>
                </div>
                <div class="d-flex justify-content-center" style="margin-top: 100px;"
                    *ngIf="orderData.status !== 1 && orderData.status !== 7 && isAction">
                    <button class="btn btn-success me-3" type="button" (click)="openModal(approve)">
                        XÁC NHẬN
                    </button>
                    <button class="btn btn-danger" type="button" (click)="openModal(refuse)">
                        TỪ CHỐI
                    </button>
                </div>
                <div class="alert alert-warning text-center mt-5 col-md-3" role="alert"
                    *ngIf="orderData.status !== 1 && !isAction">
                    {{orderData.roleName}}!
                </div>
            </div>
        </div>
    </div>
    <ng-template #approve>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Phê duyệt yêu cầu tái sử dụng thuê bao</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">Bạn có chắc chắn muốn duyệt yêu cầu?</p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="confirmOrder()">XÁC NHẬN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #refuse>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Từ chối yêu cầu nhập kho</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <label for="description" class="form-label">
                    {{ 'Lý do từ chối' | localize }}
                    <span class="text-danger">(*)</span>
                </label>
                <div class="input-group">
                    <input id="description" name="description" class="form-control"
                        placeholder="{{ 'Nhập lý do từ chối' | localize }}" type="text" [(ngModel)]="description" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="refuseOrder()">TỪ CHỐI</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #document>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Tải lên thông tin chứng từ</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p-fileUpload customUpload="true" maxFileSize="10000000" auto="auto"
                    accept=".csv,.xls,.xlsx,.pdf,.png,.jpg" chooseLabel="Chọn tệp" (onSelect)="onFileSelect($event)"
                    multiple="true"></p-fileUpload>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="onSubmitUpload()">XÁC NHẬN</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>