* {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

::ng-deep p-table {
  .p-component {
    font-family: Inter, "sans-serif" !important;
    font-size: 13px !important;
    font-weight: normal;
  }
}

::ng-deep .p-progressbar {
  height: 8px !important;
  border-radius: 8px !important;
}

::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #ff9f43 !important;
}

::ng-deep .p-fileupload .p-button {
  background: #009EF7 !important;
}

::ng-deep .table-custom .p-datatable .p-paginator-bottom {
  display: none;
}

::ng-deep .table-custom .p-datatable .p-datatable-wrapper {
  min-height: 250px;
}

::ng-deep .p-fileupload .p-fileupload-content .p-fileupload-files .p-fileupload-row div:nth-child(1){
  display: none;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar,
::ng-deep .p-fileupload .p-fileupload-content {
  border: none;
}

::ng-deep .input-group .p-element.p-inputwrapper .p-autocomplete-multiple .p-autocomplete-multiple-container {
  padding: 0.375rem 0.75rem !important; 
}

::ng-deep .p-element.p-inputwrapper .p-inputtext {
  padding: 0.85rem 0.85rem !important;
}

::ng-deep .p-element.p-inputwrapper.select-user .p-inputtext {
  padding: 0.375rem 0.75rem !important;
}

::ng-deep .p-element .p-fileupload .p-fileupload-content .p-progressbar {
  display: none !important;
}

::ng-deep .p-element .p-fileupload .p-fileupload-content .p-fileupload-files .p-fileupload-row  {
  justify-items: flex-start !important;
  gap: 40px !important;
  border: 1px dotted #ccc;
  padding: 12px;
}

::ng-deep .p-element .p-fileupload .p-fileupload-content .p-fileupload-files .ng-star-inserted  {
  width: max-content;
}

::ng-deep .p-element .p-fileupload .p-fileupload-content .p-fileupload-files .p-fileupload-row > div {
  flex: initial !important;
  width: initial !important;
}

::ng-deep .p-element.p-inputwrapper.is-invalid .p-dropdown-clearable {
  border-color: #f1416c !important;
}

::ng-deep .p-element.p-inputwrapper.is-invalid .p-component.p-inputtext {
  border-color: #f1416c !important;
}