<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass" class="pt-5">
        <div class="row bg-white pt-5 ps-3">
            <div class="d-flex justify-content-between mb-5">
                <h4 class="mb-4">QUẢN LÝ QUỐC GIA</h4>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openModal(add)">THÊM MỚI</button>
                    <button class="btn btn-success btn-sm ms-3" type="button">XUẤT EXCEL</button>
                </div>
            </div>
            <div class="col-md-7 d-flex gap-3">
                <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Nhập từ khoá">
                <select [(ngModel)]="statusFilter" class="form-select me-5">
                    <option [ngValue]="undefined">Tất cả</option>
                    <option [ngValue]="0">Khoá</option>
                    <option [ngValue]="1">Hoạt động</option>
                </select>
                <button type="button" class="btn btn-primary" style="width: 25%;" (click)="getCountries($event)">TÌM
                    KIẾM</button>
            </div>
            <p-table class="pt-2 mb-5" #dataTable sortMode="multiple" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" (onLazyLoad)="getCountries($event)"
                [paginator]="false" [lazy]="true" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 130px">{{ 'HÀNH ĐỘNG' | localize }}</th>
                        <th pSortableColumn="countryCode">
                            {{ 'MÃ' | localize }}
                            <p-sortIcon field="countryCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="countryName">
                            {{ 'TÊN' | localize }}
                            <p-sortIcon field="countryName"></p-sortIcon>
                        </th>
                        <th>{{ 'TRẠNG THÁI' | localize }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td style="width: 130px">
                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                    dropdownToggle aria-controls="dropdownMenu">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                    {{ 'Hành động' | localize }}
                                </button>
                                <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu
                                    aria-labelledby="dropdownButton">
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="getViewCountry(record.country.id, view)">
                                            {{ 'Xem chi tiết' | localize }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="getEditCountry(record.country.id, edit)">
                                            {{ 'Chỉnh sửa' | localize }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="deleteCountry(record.country.id)">
                                            {{ 'Xoá' | localize }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <span class="p-column-title">{{ '' | localize }}</span>
                            {{ record.country.countryCode }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ '' | localize }}</span>
                            {{ record.country.countryName }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Status' | localize }}</span>
                            <span *ngIf="record.country.status == 1">
                                {{ 'Hoạt động' | localize }}
                            </span>
                            <span *ngIf="record.country.status == 0">
                                {{ 'Khoá' | localize }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-no-data text-center" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ 'NoData' | localize }}
            </div>
            <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    [totalRecords]="primengTableHelper.totalRecordsCount" [showCurrentPageReport]="true"
                    (onPageChange)="getCountries($event)" [currentPageReportTemplate]="
                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                    "></p-paginator>
            </div>
        </div>
    </div>
    <ng-template #add>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm mới</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Mã</label>
                    <input type="text" class="form-control" [(ngModel)]="countryCode" placeholder="Nhập mã">
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên</label>
                    <input type="text" class="form-control" [(ngModel)]="countryName" placeholder="Nhập tên">
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái</label>
                    <div class="input-group">
                        <select [(ngModel)]="statusFilter" class="form-select">
                            <option [ngValue]="undefined">Chọn trạng thái</option>
                            <option [ngValue]="0">Khoá</option>
                            <option [ngValue]="1">Hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createOrEditCountry()">LƯU THÔNG
                        TIN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #edit>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" [(ngModel)]="idCountry">
                <div class="mb-3">
                    <label for="" class="form-label">Mã</label>
                    <input type="text" class="form-control" [(ngModel)]="countryCode" placeholder="Nhập mã">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tên</label>
                    <input type="text" class="form-control" [(ngModel)]="countryName" placeholder="Nhập tên">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Trạng thái</label>
                    <div class="input-group">
                        <select [(ngModel)]="statusFilter" class="form-select">
                            <option [ngValue]="0">Khoá</option>
                            <option [ngValue]="1">Hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">HUỶ</button>
                    <button type="button" class="btn btn-primary btn-sm" [disabled]="saving"
                        (click)="createOrEditCountry()">LƯU
                        THÔNG TIN</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #view>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xem chi tiết</h3>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center mb-3">
                    <div class="title fw-semibold" style="width: 20%; font-size: 15px;">Mã:</div>
                    <div class="description" style="font-size: 14px;">{{dataGetView.countryCode}}</div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="title fw-semibold" style="width: 20%; font-size: 15px;">Tên:</div>
                    <div class="description" style="font-size: 14px;">{{dataGetView.countryName}}</div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="title fw-semibold" style="width: 20%; font-size: 15px;">Trạng thái:</div>
                    <div class="description" style="font-size: 14px;">{{dataGetView.status == 0 ? 'Khoá' : 'Hoạt động'}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm me-3" (click)="closeModal()">ĐÓNG</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>