<div [@routerTransition]>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div [class]="containerClass">
        <div class="row bg-white py-5">
            <h4>THÔNG TIN NHẬP KHO</h4>
            <p>Vui lòng nhập đầy đủ thông tin nhập kho</p>

            <div class="mb-3 col-md-6">
                <label for="title" class="form-label">Tiêu đề <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Nhập tiêu đề"
                    [(ngModel)]="title">
            </div>
            <div class="mb-3 col-md-6">
                <label for="stockId" class="form-label">Chọn kho nhập hàng<span class="text-danger">(*)</span></label>
                <select id="srcStockId" name="srcStockId" class="form-select" [(ngModel)]="stockId"
                    (change)="onChangeStock($event)">
                    <option [ngValue]="undefined">
                        Chọn kho
                    </option>
                    <option value={{item.id}} *ngFor="let item of listStock">{{item.stockName}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                    placeholder="Nhập nội dung ghi chú" [(ngModel)]="description"></textarea>
            </div>
        </div>
    </div>
    <div [class]="containerClass" class="mt-5">
        <div class="row bg-white py-5">
            <h4>DANH SÁCH HÀNG HOÁ</h4>
            <div class="primeng-datatable-container bg-white" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable sortMode="multiple" [value]="tempOrderItems"
                    rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                    [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'STT' | localize }}</th>
                            <th>{{ 'LOẠI HÀNG HOÁ' | localize }}</th>
                            <th>{{ 'TÊN HÀNG (*)' | localize }}</th>
                            <th>{{ 'ĐƠN VỊ (*)' | localize }}</th>
                            <th>{{ 'DẢI SERIAL TỪ (*)' | localize }}</th>
                            <th>{{ 'DẢI SERIAL ĐẾN (*)' | localize }}</th>
                            <th>{{ 'SỐ LƯỢNG (*)' | localize }} </th>
                            <th>{{ 'XOÁ' | localize }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>
                                <select class="form-select" [(ngModel)]="productType" disabled>
                                    <!-- <option [ngValue]="1" selected>SỐ</option> -->
                                    <option [ngValue]="2">SERIAL</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" [(ngModel)]="record.orderName" /></td>
                            <td><input type="text" class="form-control" [(ngModel)]="record.telCo" /></td>
                            <td><input type="text" pattern="^[0-9]*$" maxlength="20" class="form-control"
                                    (keypress)="onKeyPress($event)" (input)="onInput($event)"
                                    [(ngModel)]="record.fromRange" /></td>
                            <td><input type="text" pattern="^[0-9]*$" maxlength="20" class="form-control"
                                    (keypress)="onKeyPress($event)" (input)="onInput($event)"
                                    [(ngModel)]="record.toRange" /></td>
                            <td><input type="number" class="form-control" [(ngModel)]="record.quantity" /></td>
                            <td><button class="btn btn-danger" (click)="removeRow(rowIndex)">Xóa</button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-primary btn-sm mt-3" type="button" (click)="addRow()">THÊM HÀNG HOÁ</button>
                <div class="ms-5 pt-4" style="cursor: pointer;">
                    <i class="pi pi-download me-2" style="color: #009EF7; font-size: 18px;"></i>
                    <span style="font-size: 15px;">Tải xuống file mẫu</span>
                </div>
            </div>
            <div class="card flex justify-content-center mt-3">
                <!-- <p-fileUpload customUpload="true" name="ExcelFileUpload" #ExcelFileUpload maxFileSize="10000000"
                    auto="auto" accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                    (onError)="onUploadExcelError()" chooseLabel="Tải danh sách lên"></p-fileUpload> -->
            </div>
            <span class="fs-5 mt-5">Tải lên file Excel</span>
            <div class="d-flex justify-content-start align-items-center mt-1 custom-progress">
                <div class="me-5">
                    <p-fileUpload mode="basic" chooseLabel="Chọn file" name="demo[]"
                        url="https://www.primefaces.org/cdn/api/upload.php" maxFileSize="1000000"
                        (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
                <div style="width: 15%;" class="me-2"><p-progressBar [value]="value"></p-progressBar></div>
                <span>{{value}}%</span>
            </div>
            <div class="d-flex justify-content-center mt-5 pt-5">
                <button class="btn btn-success" type="button" (click)="createOrder()">GỬI YÊU CẦU</button>
            </div>
        </div>
    </div>
</div>