<div appBsModal #createModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form #tenantCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'TẠO MỚI KHO' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>

                <div class="modal-body">
                    <div [class]="containerClass">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-5">
                                    <label for="nameWarehouse" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Tên kho' | localize }}
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    <div class="input-group">
                                        <input id="nameWarehouse" name="nameWarehouse" class="form-control"
                                            placeholder="{{ 'Nhập tên kho' | localize }}" type="text" />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Cấp độ kho' | localize }}
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option selected>
                                                Chọn cấp độ kho
                                            </option>
                                            <option value="1">Cấp 1</option>
                                            <option value="2">Cấp 2</option>
                                            <option value="3">Cấp 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start mb-5">
                                    <label for="addressWarehouse" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Địa điểm kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <select id="province" name="province" class="form-select w-100 mb-5">
                                            <option selected>
                                                Chọn Tỉnh/Thành phố
                                            </option>
                                            <option value="1">Hà Nội</option>
                                            <option value="2">Thành phố Hồ Chí Minh</option>
                                            <option value="3">Đà Nắng</option>
                                        </select>
                                        <select id="district" name="district" class="form-select w-100 mb-5">
                                            <option selected>
                                                Chọn Quận/Huyện
                                            </option>
                                            <option value="1">Hà Nội</option>
                                            <option value="2">Thành phố Hồ Chí Minh</option>
                                            <option value="3">Đà Nắng</option>
                                        </select>
                                        <select id="ward" name="ward" class="form-select w-100">
                                            <option selected>
                                                Chọn Phường/Xã
                                            </option>
                                            <option value="1">Hà Nội</option>
                                            <option value="2">Thành phố Hồ Chí Minh</option>
                                            <option value="3">Đà Nắng</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="float-end">
                                    <button class="btn btn-success btn-sm" type="button">IMPORT LÔ SỐ</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-5">
                                    <label for="CodeWarehouse" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Mã kho' | localize }}
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    <div class="input-group">
                                        <input id="CodeWarehouse" name="codeWarehouse" class="form-control"
                                            placeholder="{{ 'Nhập mã kho' | localize }}" type="text" />
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Kho cha' | localize }}
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option selected>
                                                Chọn kho cha
                                            </option>
                                            <option value="1">Kho 1</option>
                                            <option value="2">Kho 2</option>
                                            <option value="3">Kho 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Người quản lý kho' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option selected>
                                                Vui lòng chọn
                                            </option>
                                            <option value="1">Ông A</option>
                                            <option value="2">Ông B</option>
                                            <option value="3">Ông C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Người tạo Xuất/Thu hồi' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option selected>
                                                Vui lòng chọn
                                            </option>
                                            <option value="1">Ông A</option>
                                            <option value="2">Ông B</option>
                                            <option value="3">Ông C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Người duyệt Xuất/Thu hồi' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option selected>
                                                Vui lòng chọn
                                            </option>
                                            <option value="1">Ông A</option>
                                            <option value="2">Ông B</option>
                                            <option value="3">Ông C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-5">
                                    <label for="productType" class="form-label ms-5" style="width: 35%;">
                                        {{ 'Người xác nhận' | localize }}
                                    </label>
                                    <div class="input-group">
                                        <select id="productType" name="productType" class="form-select">
                                            <option>
                                                Vui lòng chọn
                                            </option>
                                            <option value="1">Ông A</option>
                                            <option value="2">Ông B</option>
                                            <option value="3">Ông C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="float-end">
                                    <button class="btn btn-success btn-sm" type="button">THÊM NGƯỜI XÁC NHẬN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-secondary btn-sm" (click)="close()">
                        {{ 'HUỶ' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="saving">
                        <!-- <i class="fa fa-save"></i> -->
                        <span>{{ 'TẠO MỚI' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>